

.self-br{ 
    border-radius: 10px;
}
.self-margin-tb{
    margin: 40px auto;
}
.self-ft-ct{
    padding: 60px 15px; 
    height: 250px;
}
.self-round-card{
    border-radius: 100px; 
    width: 150px; 
    height:150px;
}
.self-grid-span{
    font-size: xx-large;
    padding: 40px 0 60px 10px;
    color: antiquewhite;
}

/* card hover effect */
.card{
    transition: transform .4s;
    border-radius: 9px; 
    margin: auto;
}

.card:hover{
    transform: scale(1.1);
    border-color: #f8a51d;
    background-color: #f8a51d;
    transition: 0.3s;
}

/* card btn hover effect */
.self-card-btn{
    transition: 0.4s;
}
.self-card-btn:hover{
    border-radius: 25px;
    transition:  0.4s;
}

.card-img-top{
    border-radius: 9px;
    height: 300px;
}



footer{
    background-color: black;
    height: 300px;
}

.self-footer-img{
    border-radius: 15px;
    margin-bottom: 10px;
}

/* vertical line */
.self-vline{
    border-right: 1px solid white;
    margin-right: 10px;
} 